{% load static %}
<html>
<head>

  <!-- META DATA -->
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">

	<title>UMAX</title>
  
	<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}"  type="text/css">
	
	<link rel="shortcut icon" type="image/png" href={% static 'website/images/umax_small.png' %}" />

	<link rel="icon" href={% static 'website/images/umax.png' %}" />
	
	<!-- Owl Carousel Assets -->
    <link href="{% static 'website/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'website/css/animate.min.css' %}">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static 'website/font-awesome-4.4.0/css/font-awesome.min.css' %}"  type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static 'website/js/html5shiv.js' %}"></script>
        <script src="{% static 'website/js/respond.min.js' %}"></script>
    <![endif]-->
	
</head>

 <body>
<header>

	<!-- /////////////////////////////////////////Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
		<a href="home.html"><img src="{% static 'website/images/umax16.png' %}" /></a>
                <!--<h1 class="navbar-brand page-scroll">-->
					<!--<a href="#page-top">UMAX</a>-->     
<!--img src="{% static 'website/images/key.png' %}" />-->
				<!--</h1>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="home.html">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-content">Service</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
			
				<div class="item active">
					<img src="{% static 'website/images/banner6.jpg' %}" alt="First slide">
					<!-- Static Header -->
					<div class="header-text hidden-xs">
						<div class="col-md-12">
							<h4></h4>
							<h3></h3>
							<br> 
							<h1>UMAX CONSTRUCTIONS</h1>
							<span>"Key to your World"</span><br><br>
							<!--<a href="#" class="btn btn-primary">Learn More</a>-->
						</div>
					</div><!-- /header-text -->
				</div>
				
			
	
</header>
<!-- ////////////Content Box 01 -->
<div id="about">
		<section class="box-content box-4 box-style-1 id="about us">
			<div class="container">
				<div class="row heading">
					 <div class="col-lg-12">	
	                    <h2>ABOUT US</h2>
	                    <hr class="line02">
				
				
                    	<div class="textwidget"><p>Umax constructions was established in the year 2010. Since then, the company has been the instigating force behind building dream spaces for individuals and institutions. The company has evolved from strength to strength, and successfully completed numerous projects in residential and commercial sectors.
Umax constructions has  requisite expertise and wide-ranging experience to undertake construction projects with single source responsibility. Contracts are executed using state of the art design tools and project management techniques from concept to commissioning.
We envisage a future wherein Umax constructions symbolises superior community living of the highest standards of quality and customer delight.</p><br>
				<div class="row heading">
				<div class="col-lg-12">	
	                    <h4>Leadership</h4>
	                    <hr class="line02">
				<div class="box-item">
				<div class="wrap-img">
				<img src="{% static 'website/images/people6.jpg' %}" class="img-circle" alt="">
				
				
				
						<p>Sunanthaan K S (Registered Engineer and Registered valuer), assistant manager, who holds Post Graduation in Construction Engineering and Management and got field experience in the company for 3years. He has joined as the Assistant Managerin our company in 2017. As a young entrepreneur, by his virtues, intent, creativity and acquired knowledge, he has been contributing and administrating the company to ensure consistent and sustainable growth of the business.</p> <br> <br> 
						

</div>
</div>
</div>

	               
					
					
				</div>
			</div>
			</div>
		</section>
		
	</div>

	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
	
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-2" id="services">
			<div class="container">
				<div class="row heading">
					 <div class="col-lg-12">
						<h2>SERVICES</h2>
	                    			<hr class="line02">	
						<br>
											

				<div class="row">
					<div class="col-sm-4">
						<div class="box-item">
							<div class="wrap-img">
								<img src="{% static 'website/images/service1.png' %}" />
							</div>
							<h4 class="services-heading">Plan & Design</h4>
							<p></p>
							<br>
							<br>
						</div>
			 		</div>
					<div class="col-sm-4">
						<div class="box-item">
							<div class="wrap-img">
								<img src="{% static 'website/images/service2.png' %}" />
							</div>
							<h4 class="services-heading">Construction</h4>
							<p></p>
							<br>
							<br>
						</div>
			 		</div>
					<div class="col-sm-4">
						<div class="box-item">
							<div class="wrap-img">
								<img src="{% static 'website/images/service3.png' %}" />
							</div>
							<h4 class="services-heading">Repair & Refurbishment</h4>
							<p></p>
							<br>
							<br>
						</div>
			 		</div>
					<div class="col-sm-4">
						<div class="box-item">
							<div class="wrap-img">
								<img src="{% static 'website/images/service4.png' %}" />
							</div>
							<h4 class="services-heading">Maintenance </h4>
							<p></p>
						</div>
			 		</div>
			 		<div class="col-sm-4">
						<div class="box-item">
							<div class="box-item">
							<div class="wrap-img">
								<img src="{% static 'website/images/service5.jpg' %}" />
							</div>
							<h4 class="services-heading">Joint ventures</h4>
							<p></p>
						</div>
						</div>
			 		</div>
					<div class="col-sm-4">
						<div class="box-item">
							<div class="box-item">
							<div class="wrap-img">
								<img src="{% static 'website/images/service6.png' %}" />
							</div>
							<h4 class="services-heading">Demolition</h4>
							<p></p>
						</div>
						</div>
			 		</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 02 -->
		<section class="box-content box-2" id="projects">
			<div class="container">
				<div class="row heading">
					 <div class="col-lg-12">	
	                    <h2>Projects</h2>

	                    <hr class="line02">
                    	</div>
				</div>
				<div class="categories">
				  <ul class="cat">
					<li>
						<ol class="type list-inline">
							<li><a href="#" class="active">Completed Projects</a></li>
							<!--<li><a href="#" data-filter=".lake_wanaka">Lake Wanaka</a></li>
							<li><a href="#" data-filter=".ohama_beach">Ohama Beach</a></li>
							<li><a href="#" data-filter=".taupo_central">Taupo Central</a></li>-->
						</ol>
					</li>
				  </ul>
				  <div class="clearfix"></div>
				</div>
				
				<div class="row">
					<div class="portfolio-items">
						<div class="col-sm-6 col-md-3 col-lg-3 taupo_central">
							<div class="post">
								<div class="item-container wow fadeInUp" data-wow-delay="200ms">
									<div class="item-caption">
										<div class="item-caption-inner">
											<div class="item-caption-inner1">
												<a class="example-image-link" href="{% static 'website/images/one.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
													<i class="fa fa-search"></i>
												</a>
											</div>
										</div>
									</div>
									<img src= "{% static 'website/images/one-thumb.jpg' %}" />
								</div>
								<span>Ambattur, Banu Nagar</span>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 col-lg-3 taupo_central">
						  <div class="post">
								<div class="item-container wow fadeInUp" data-wow-delay="200ms">
									<div class="item-caption">
										<div class="item-caption-inner">
											<div class="item-caption-inner1">
												<a class="example-image-link" href="{% static 'website/images/two.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
													<i class="fa fa-search"></i>
												</a>
											</div>
										</div>
									</div>
									<img src="{% static 'website/images/two-thumb.jpg' %}" />
								</div>
								<span>Moolakadai, Chennai</span>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 col-lg-3 taupo_central">
							<div class="post">
								<div class="item-container wow fadeInUp" data-wow-delay="200ms">
									<div class="item-caption">
										<div class="item-caption-inner">
											<div class="item-caption-inner1">
												<a class="example-image-link" href="{% static 'website/images/three.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
													<i class="fa fa-search"></i>
												</a>
											</div>
										</div>
									</div>
									<img src= "{% static 'website/images/three-thumb.jpg' %}" />
								</div>
								<span>Ambattur, Banu Nagar</span>
							</div>					
						</div>
						<div class="col-sm-6 col-md-3 col-lg-3 taupo_central">
							<div class="post">
								<div class="item-container wow fadeInUp" data-wow-delay="200ms">
									<div class="item-caption">
										<div class="item-caption-inner">
											<div class="item-caption-inner1">
												<a class="example-image-link" href="{% static 'website/images/eight.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
													<i class="fa fa-search"></i>
												</a>
											</div>
										</div>
									</div>
									<img src= "{% static 'website/images/five-thumb.jpg' %}" />
								</div>
								<span>Kumaran Nagar, Chennai</span>
							</div>					
						</div>
				
						
						
					</div>
				</div>
				<br>
				<div class="categories">
				  <ul class="cat">
					<li>
						<ol class="type list-inline">
							<li><a href="#" class="active">Current Projects</a></li>
							<!--<li><a href="#" data-filter=".lake_wanaka">Lake Wanaka</a></li>
							<li><a href="#" data-filter=".ohama_beach">Ohama Beach</a></li>
							<li><a href="#" data-filter=".taupo_central">Taupo Central</a></li>-->
						</ol>
					</li>
				  </ul>
				  <div class="clearfix"></div>
				</div>
<div class="row">
					<div class="portfolio-items">
						<div class="col-sm-6 col-md-3 col-lg-3 taupo_central">
							<div class="post">
								<div class="item-container wow fadeInUp" data-wow-delay="200ms">
									<div class="item-caption">
										<div class="item-caption-inner">
											<div class="item-caption-inner1">
												<a class="example-image-link" href="{% static 'website/images/baba14th__.png' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
													<i class="fa fa-search"></i>
												</a>
											</div>
										</div>
									</div>
									<img src= "{% static 'website/images/baba14_thumb_.png' %}" />
								</div>
								<span>14th street, Baba nagar, Chennai</span>
							</div>
						</div>
						
						
						</div>
				
				
						
					</div>
				</div>
			</div>



		</section>
		
		<!-- ////////////Content Box 04 -->
		<section class="box-content box-4 box-style-1" id="news">

			<!-- /////////////////////////////////////////Content -->
	<div id="contact">
		
		<!-- ////////////Content Box -->
		<section class="box-content box-style-1">
			<div class="container">
				<div class="row heading">
					 <div class="col-lg-12">	
	                    <h2>CONTACT</h2>
	                    <hr class="line02">
                    	<div class="intro">Feel free to contact us</div>
	                </div>
				</div>

{% if name %}
<center>
<h2>{{name}}!</h2>
<p> We recieved your email and will respond shortly........</p>

</center>
<br/><br/><br/>
{% else %}
				<div class="row">
				<div class='embed-container maps' >
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d971.429401979326!2d80.20566862914879!3d13.117067605536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526466f731858d%3A0xac3730b672adc883!2s153%2C%201st%20St%2C%20Dayalu%20Nagar%2C%20Valluvar%20Nagar%2C%20Kolathur%2C%20Chennai%2C%20Tamil%20Nadu%20600049!5e0!3m2!1sen!2sin!4v1602933583045!5m2!1sen!2sin" width="1150" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
					<div class="col-md-4 box-item wow fadeInLeft">
						<h3>Contact Info</h3>
						<span style="font-size:20px">Umax Constructions</span><br> 
						<p>#110, North Redhills Road,<br>
							Villivakkam,<br>
							Chennai-600 049</p>
						   <p>90926 41494<br>
							98402 77102</p>
						<p>umaxconstructions@gmail.com</p>
					</div>
					<div class="col-md-8 wow fadeInRight">
						<h3>Contact Form</h3>
						<form id="ff" name="form1" method="post" action="{% url 'home' %}">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
									<input type="text" class="form-control input-lg" name="name" id="name" placeholder="Enter name" required="required" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="email" class="form-control input-lg" name="email" id="email" placeholder="Enter email" required="required" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control input-lg" name="subject" id="subject" placeholder="Subject" required="required" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text-center">
									<div class="form-group">
										<textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required"
										placeholder="Message"></textarea>
									</div>						
									<button type="submit" class="btn btn-skin btn-lg page-scroll wow fadeInUp" name="submitcontact" id="submitcontact">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	{% endif %}
		
	</div>

		</section>
		
	</div>
	
	<!-- FOOTER -->
	<footer>
		
		<div class="wrap-footer">
			<div class="container">
				<div class="row"> 
					<div class="col-footer col-md-4">
						<h2 class="footer-title">About Us</h2>
						<div class="textwidget">Umax constructions was established in the year 2010. Since then, the company has been the instigating force behind building dream spaces for individuals and institutions. The company has evolved from strength to strength, and successfully completed numerous projects in residential and commercial sectors. Umax constructions has requisite expertise and wide-ranging experience to undertake construction projects with single source responsibility<br> <br> 
						</div>
					</div> 
					<div class="col-footer col-md-4 widget_recent_entries">
						<h2 class="footer-title">Recent Project</h2>
						<ul>
							<li><a href="#projects">Ambattur, Banu nagar</a></li>
							<li><a href="#projects">Kumaran nagar, Chennai</a></li>
							
						</ul>
					</div>
					<div class="col-footer col-md-4">
						<h2 class="footer-title">NEWS LETTER</h2>
						If you want to receive our latest news send directly to your email, please leave your email address above in the contact forms, you can reach us anytime.
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<p>Copyright 2020 - Designed by <a href="https://www.facebook.com/praveen.chandar.5">praveen chandar</a></p>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							
							<li><a href="https://www.facebook.com/umax.constructions"><i class="fa fa-facebook"></i></a>
							</li>
							<li><a href="https://instagram.com/umaxconstructions?igshid=2il7wcx3k64d"><i class="fa fa-instagram"></i></a>
							</li>
							
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</footer>
  
	<!-- jQuery -->
	<script type="text/javascript" src="{% static 'website/js/jquery-2.1.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'website/js/bootstrap.min.js' %}"></script>
	
	<!-- Custom Theme JavaScript -->
	<script src="{% static 'website/js/agency.js' %}"></script>

	<!-- Plugin JavaScript -->
	<script src="{% static 'website/js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'website/js/classie.js' %}"></script>
	<script src="{% static 'website/js/cbpAnimatedHeader.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'website/js/wow.min.js' %}"></script> 
	<script type="text/javascript" src="{% static 'website/js/jquery.isotope.js' %}"></script> 
	<script type="text/javascript" src="{% static 'website/js/main.js' %}"></script>
	
	
	<!-- carousel -->
	<script src="{% static 'website/owl-carousel/owl.carousel.js' %}"></script>
    <script>
    $(document).ready(function() {
      $("#owl-brand").owlCarousel({
        autoPlay: 3000,
        items : 6,
		itemsDesktop : [1199,4],
        itemsDesktopSmall : [979,2],
		navigation: true,
		navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
		pagination: false
      });
    });
    </script>
	
</body>
</html>